env/
venv/
backend/media/

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*

# Dependency directories
frontend/node_modules/

# Build outputs
frontend/dist/
frontend/dist-ssr/
frontend/build/

# Environment files
frontend/*.local
frontend/.env
frontend/.env.*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
